# ignore __pycache__
__pycache__

# ignore VS Code
.vscode
settings.json

# ignore jupyter checkpoints
.ipynb_checkpoints

# ignore data files
*.npy
*.tex

# Ignore data and model folders
Data
Models
Evaluation
Paper
Images*

# ignore models, keras model contents, and model checkpoints
checkpoint*
*.ckpt.*
# *.h5
*.pb

assets
variables

# ignore model results
results*

# ignore csv files
*.csv

# ignore images and videos and pdfs
*.mp4
*.png
*.jpg
*.jpeg
*.pdf
*.zip
